<!-- <section class="hero py-16">
  <div class="container mx-auto flex items-center justify-between ">
    <div class="left w-1/2 ">
      <h6 class="text-2xl safe-h6">
        <em>
          Are you safe?
        </em>
      </h6>
      <img
        class="mx-auto"
        src="/images/stay-home-5062153_1280.png"
        alt=""
        width="100px"
      />
  
      <h1 class="text-3xl font-bold">
        Don't wait !
      </h1>
      <h3 class="text-2xl font-bold">
        order now organic food
      </h3>

      <h1 class="text-6xl font-bold">
        <b>
          with safety
        </b>
      </h1>
      <a
        href="/products"
        class="inline-block  px-4 py-2 rounded-full add-to-cart text-white font-bold"
        >Order Now
      </a>
     
    </div>
    <div class="right w-1/2 ">
      <img src="/images/hero-2.png" alt="food" />
    </div>
  </div>
</section> -->
<!-- <section class=" container mx-auto py-8">
  <h1 class="service-heading text-6xl mx-auto font-bold mb-8">
    Why Us?
  </h1>
  <img src="/images/Red and Yellow Color Block Delivery Service Company Facebook Cover (1).png" />



  

</section> -->

  <!-- <section class="py-16">
    <div class="container mx-auto flex ">
      <div class=" left w-1/2 px-4 py-2 m-2">
      <img class="w-full" src="/images/1.png" alt="Sunset in the mountains">
      </div>
      <div class="right w-1/2 mx-auto ">
    <img class="w-full" src="/images/2.png" alt="Sunset in the mountains">
      </div>
    </div>
  </section> -->

  <!-- <section class="py-16">
    <div class="container mx-auto flex ">
      <div class="left w-1/2 px-4 py-2 m-2">
      <img class="w-full" src="/images/3.png" alt="Sunset in the mountains">
      </div>
      <div class="right w-1/2 mx-auto ">
    <img class="w-full" src="/images/4.png" alt="Sunset in the mountains">
      </div>
      
    </div>
       
  </section> -->
  <!-- <section class="py-16">
    <div class="container mx-auto flex ">
      <div class="left w-1/2 px-4 py-2 m-2">
      <img class="w-full" src="/images/5.png" alt="Sunset in the mountains">
      </div>
      <div class="right w-1/2 mx-auto ">
    <img class="w-full" src="/images/Green Illustration Environmental Protection Poster.png" />
      </div>
      
    </div>
       
  </section> -->


  <!-- <div class="flex flex-col items-center  ">
    <div class="px-4 py-2 m-2">
<img class="w-1/3" src="/images/1.png" alt="Sunset in the mountains">
    </div>
    <div class="px-4 py-2 m-2">
      <img class="w-1/3" src="/images/1.png" alt="Sunset in the mountains">
    </div>
    <div class="px-4 py-2 m-2">
      <img class="w-1/3" src="/images/1.png" alt="Sunset in the mountains">
    </div>
    <div class="px-4 py-2 m-2">
      <img class="w-1/3" src="/images/1.png" alt="Sunset in the mountains">
    </div>
    <div class="px-4 py-2 m-2">
      <img class="w-1/3" src="/images/1.png" alt="Sunset in the mountains">
    </div>
  </div> -->
  <!-- <div class="px-2">
    <div class="flex -mx-2">
      <div class="w-1/2 mr-auto ml-auto px-2">
        <div class="bg-gray-400 h-12">
          <img class="w-full" src="/images/1.png" alt="Sunset in the mountains">
        </div>
      </div>
      <div class="w-1/2 ml-auto px-2">
        <div class="bg-gray-500 h-12">
          <img class="w-full" src="/images/2.png" alt="Sunset in the mountains">
        </div>
      </div>
      <div class="w-1/2 ml-auto px-2">
        <div class="bg-gray-400 h-12">
          <img class="w-full" src="/images/3.png" alt="Sunset in the mountains">
        </div>
      </div>
      <div class="w-1/2 ml-auto px-2">
        <div class="bg-gray-400 h-12">
          <img class="w-full" src="/images/4.png" alt="Sunset in the mountains">
        </div>
      </div>
      <div class="w-1/2 ml-auto px-2">
        <div class="bg-gray-400 h-12">
          <img class="w-full"  src="/images/5.png" alt="Sunset in the mountains">
        </div>
      </div>
    </div>
  </div> -->

</section>
<!-- <section class="discover-our-story">
  <div class="container">
    <div class="restaurant-info">
      <div class="restaurant-description padding-right animate-left">
        <div class="global-headline">
          <h2 class="sub-headline">
            <span class="first-letter">D</span>iscover
          </h2>
          <h1 class="headline headline-dark">
            Our Farmers
          </h1>
        </div>
        <div class="restaurant-info-img animate-right">
          <img src="/images/farmer-37413.png" alt="" />
        </div>
        <div class="up">
          <p>
            They are the backbone of our society. They are the ones who provide
            us all the food that we eat. but never get fair price to them
          </p>
          <h1 class="headline headline-dark">Long chain of middlemen</h1>
          <p>
            Agricultural goods, perhaps, have the longest chain of middlemen
            There are a number of intermediaries in the market like the
            wholesalers, brokers, commission agents, retailers and so on The
            agricultural goods pass through all these people before they reach
            the ultimate consumer. As it passes through each individual, the
            price increases. <br />
            So, it is only the consumer who is finally made to bear the burden.
            Thus, the high price paid by the consumer does not reach the grower.
            It is pocketed only by the market intermediaries.<br />
          </p>
          <h1 class="headline headline-dark">
            we will provide fair price to farmers by buying directly from them
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="discover-our-story">
  <div class="container">
    <div class="restaurant-info">
      <div class="restaurant-description padding-right animate-left">
        <div class="global-headline">
          <h2 class="sub-headline">
            <span class="first-letter">D</span>iscover
          </h2>
          <h1 class="headline headline-dark">
            customers
          </h1>
        </div>
        <div class="restaurant-info-img animate-right">
          <img src="/images/boy-2027485.png" alt="" />
        </div>
        <div class="up-2">
          <p>
            . organic food
          </p>

          <p>
            . cheap price
          </p>

          <p>
            . safety
          </p>

          <p>
            . Free home delivery
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="road">
  <div class="lines"></div>
  <img
    class="mario "
    src="/images/car-1299198_1280.png"
    width="300px"
    height="300px"
  />

  <h1 class="pb-16 text-center text-2xl ">
    Free Home delivery
  </h1> -->

<!-- </div> -->

<section>
  <div>
   <img src="/images/house.jpg" />
   <span class="spanhome" style="
   color: azure"
   >
  
       
        House for rent
        <br />
        Come to us
     </span>


  </div>
</section>