//colors
$primary: lightgreen;
$primary-hover: rgba(93, 206, 191, 0.794);
$secondary: #f8f8f8;
$pure: #fff;
$dark: hsl(0, 0%, 14%);
$gray: #ffffff66;
$yellow: #dad62166;
$body: #2d4034;
$body2: #445c4c;
$fill: #2b6619;
$fill2: #1ea0b1;
$main-font: "Source Sans Pro", sans-serif;
$secondary-font: "Herr Von Muellerhoff", cursive;
$body-font: "Cabin", sans-serif;
$main-font-color-dark: #161515;
$secondary-font-color: #070606;
$body-font-color: #000000;

//transition
$smooth: all 0.3s ease-in-out;
